@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }

  // h1 {
  //   @apply font-aeonik;
  //   @apply text-5xl;
  //   margin-bottom: 3rem;
  // }
  h2 {
    @apply text-6xl;
  }
  // h3 {
  //   @apply text-3xl;
  //   margin-bottom: 2rem;
  // }
  // h4 {
  //   @apply text-2xl;
  // }
  // h5 {
  //   @apply text-xl;
  // }
  // h6 {
  //   @apply text-lg;
  // }
}

.container {
  overflow: auto;
  background-color: $gray-lightest;
}

.content-wrapper {
  flex-grow: 1;
}

.content {
  padding: 1rem 1.25rem;
  overflow: hidden;

  &--sm {
    padding: 2rem 2.5rem;
  }

  &--md {
    padding: 3rem 3.75rem;
  }

  &--lg {
    padding: 4rem 5rem;
  }

  &--xl {
    padding: 5rem 6.25rem;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$themes: (
  red: (
    'color-primary': $red-base,
    'color-secondary': $blue-base,
  ),
  blue: (
    'color-primary': $blue-base,
    'color-secondary': $yellow-base,
  ),
  yellow: (
    'color-primary': $yellow-base,
    'color-secondary': $blue-base,
  ),
  green: (
    'color-primary': $green-base,
    'color-secondary': $yellow-base,
  ),
);

@each $name, $map in $themes {
  .theme-llarsantpau--#{'' + $name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}

.theme-llarsantpau {
  background-color: var(--color-primary);
}
