$gray-lightest: #f8f8f8;
$gray-lighter: #eeeeee;
$gray-light: #e3e4e4;
$gray-base: #d4d4d5;
$gray-dark: #b5b6b7;
$gray-darker: #8b8d8f;
$gray-darkest: #3f4042;

$blue-base: #3f4d99;
$yellow-base: #e3b130;
$green-base: #325b45;
$red-base: #e06c52;
$brown-base: #b19f72;

$color-primary: $blue-base;
$color-secondary: $yellow-base;

// $color-accent: $pink-light;

$status-color-indicator-positive: #4bd28f;
$status-color-indicator: #d8e2e9;
