@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url(~/static/fonts/Aeonik-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'AeonikMedium';
  src: local('AeonikMedium'), url(~/static/fonts/Aeonik-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(~/static/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: local('PoppinsMedium'), url(static/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'QueensTrial';
  src: local('QueensTrial'), url(~/static/fonts/QueensTrial-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'QueensTrialMedium';
  src: local('QueensTrialMedium'), url(~/static/fonts/QueensTrial-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'QueensVarTrial';
  src: local('QueensVarTrial'), url(~/static/fonts/QueensVarTrial.ttf) format('truetype');
}
